amqp==5.1.1
asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.2.1
django-rest-framework==0.1.0
djangorestframework==3.14.0
dnspython==2.3.0
eventlet==0.33.3
greenlet==2.0.2
idna==3.4
kombu==5.2.4
MarkupSafe==2.1.2
mock==5.0.2
nameko==2.14.1
packaging==23.1
path==16.6.0
path.py==12.5.0
pytz==2023.3
PyYAML==6.0
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.0.2
vine==5.0.0
Werkzeug==2.3.3
wrapt==1.15.0
